@using Workspace_booking.Services
@*@model Booking*@

@{
    ViewData["Title"] = "Book a room";
}

<h1>@ViewData["Title"]</h1>

<form>
    <label for="RoomId">Room Id:</label><br>
    <input type="text" id="RoomId" name="Room Id"><br><br>
    <label for="EmployeeName">Name:</label><br>
    <input type="text" id="EmployeeName" name="EmployeeName"><br><br>
    <input type="submit" value="Submit">
</form>